#root {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MuiPaper-root {
  background-color: transparent !important;
}
* {
  font-family: "Montserrat", sans-serif !important;
}
body {
  width: 100vw;
  height: 100vh;
  background: #D3BDEE;
  margin: 0px;
}